
<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :body %>
  <%= f.text_area :body, class: 'form-control' %>
 
</div>



<div class="form-group">
<%= f.submit 'Зберегти', class: "btn btn-primary active btn-lg" %>
<%= link_to 'Назад', :back, class: 'btn btn-outline-secondary'%>
</div>