<a style="margin-top: 20px;" class="btn btn-info" href="/groups/<%= @group.id%>" role="button">Redirect in <%=@group.name%></a>
<div class="box">
	
	<h1 style="color: #424874; text-align: center;"> People group</h1>
	<div class="user">
		<% @enters.each do |enter|%>
		
				<%= image_tag enter.user.avatar.url(:thumb), width: 40, height: 40 %><br/>
				<%= enter.user.nickname %><br/>
		<%end%>
		<%= image_tag @group.user.avatar.url(:thumb), width: 40, height: 40 %><br/>
			<%= @group.user.nickname %><br/>
	</div>
</div>