<h1 style="text-align: center;"><%= @group.name%></h1>
<!-- # <%  @group.user_id %> -->
Autor: <%= @group.user.nickname %><br>
<b style='text-align: right;'>Group created <%= @group.created_at %></b>
<table style="width: 100%;">
		<tr>
			<td style="text-align: left; width: 70%">
			<h3><%= @group.context %></h3>
			</td>
			<td style="text-align: right;">
				<h3 style="text-align: center;">Article group</h3>
				<% @articles.each do |article|%>
					<li><h4 style="text-align: left; text-decoration: none; color: #000;"><%= link_to article.title, group_article_path(@group.id, article) %></h4></li>
				<%end%>
				<h3 style="text-align: center;">Event group</h3>
				<% @events.each do |event|%>
					<li><h4 style="text-align: left; text-decoration: none; color: #000;"><%= link_to event.evname, group_event_path(@group.id, event) %> : <%= event.day.to_date.strftime('%d %B, %Y') %> </h4></li> 
				<%end%>
			</td>
		</tr>
</table>




<% if current_user.id == @group.user_id %>

<%= link_to group_adduser_path(@group.id) do %>
          <button type="button" class="btn btn-outline-dark">Add user to group</button>
		<%end%>
		<%= link_to new_group_article_path(@group) do %>
          <button type="button" class="btn btn-outline-dark">Add artickes</button>
		<%end%>
		<%= link_to new_group_event_path(@group) do %>
          <button type="button" class="btn btn-outline-dark">Add events</button>
		<%end%>
 <%end%>
