
<%=f.hidden_field :group_id%>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control' %>
</div>


<div class="form-group">
<%= f.submit 'Зберегти', class: "btn btn-primary active btn-lg" %>
<%= link_to 'Назад', :back, class: 'btn btn-outline-secondary'%>
</div>
